<html>
<header>
  <h1>
    Playing with Angular Directives
  </h1>
</header>
<hr>
<nav class="main-nav">
  <ul>
    <li class="main-nav-items">
      <a class="main-nav-item--link"
         alerting
         name="Srikar"
         sayWhat="Take bag while going to Super Market"
        >Alert with Optional Param</a>
    </li>
    <li class="main-nav-items">
      <a class="main-nav-item--link"
         alerting
         name="Srikar"
      >Alert without Optional Param</a>
    </li>
    <li class="main-nav-items">
      <a class="main-nav-item--link"
         bgColor
      >Change BackGround Color</a>
    </li>
  </ul>
</nav>
<body>
<div>
  <form>
    <label>Enter Anything to view a msg on blur</label>
  <input
    consoleLog
    msg="Hello, Here I'm"
  >
  </form>
</div>

</body>
</html>
